<ul class="social-icons">
  <li><a href="http://twitter.com/thegreatsunra"><img src="/{{site.imgFolder}}/icons/twitter_16.png" alt="Follow me on Twitter at @thegreatsunra" title="Follow me on Twitter at @thegreatsunra" /></a></li>
  <li><a href="http://thegreatsunra.tumblr.com/"><img src="/{{site.imgFolder}}/icons/tumblr_16.png" alt="Read my tumblog at Tumblr" title="Read my tumblog at Tumblr" /></a></li>
  <li><a href="http://daneomatic.com/"><img src="/{{site.imgFolder}}/icons/wordpress_16.png" alt="Read my blog at daneomatic.com" title="Read my blog at daneomatic.com" /></a></li>
  <li><a href="http://flickr.com/photos/thegreatsunra"><img src="/{{site.imgFolder}}/icons/flickr_16.png" alt="See my photos on Flickr" title="See my photos on Flickr" /></a></li>
  <li><a href="http://vimeo.com/thegreatsunra"><img src="/{{site.imgFolder}}/icons/vimeo_16.png" alt="See my movies on Vimeo" title="See my movies on Vimeo" /></a></li>
  <li><a href="http://linkedin.com/in/danepetersen"><img src="/{{site.imgFolder}}/icons/linkedin_16.png" alt="Find me at LinkedIn" title="Find me at LinkedIn" /></a></li>
</ul>
